* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
}

h1 {
    color: rgb(248, 248, 248);
}

h2 {
    color: rgb(248, 248, 248);
    font-size: 5rem;
}

h3 {
    color: rgb(248, 248, 248);
    font-size: 1.5rem;
}

h4 {
    color: rgb(174, 179, 184);
    font-size: 1.6rem;
}

h5 {
    color: rgb(174, 179, 184);
    font-size: 1.1rem;
}

h6 {
    color: rgb(248, 248, 248);
    font-size: 1.2rem;
}

p {
    color: rgb(174, 179, 184);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.9rem;
    font-size: 1.2rem;
}

b {
    color: rgb(127, 109, 242);
}
